---
import type { Athlete } from "../models";
const API = 'https://jiujitero-api.onrender.com/api/v1/athletes?team=Alliance';
const response = await fetch(API);
const data = await response.json() as Athlete[];
---

<div class='grid grid-5 grid-h4 not-content'>
	{data.map((item) => (
    <article>
      <h3>{item.name}</h3>
      <h3>{item.lastName}</h3>
      <h4>{item.team}</h4>
      <p>{item.email}</p>
    </article>
  ))}
  
</div>