---
import type { User } from "../models";
const API = "http://localhost:3000/api/v1/users";
const response = await fetch(API);
const data = (await response.json()) as User[];
---

<div class="grid grid-5 not-content">
  {
    data.map((item) => (
      <article>
        <img loading="lazy" src={item.image} alt={item.name} />
        <h4>{item.name}</h4>
        <p>{item.email}</p>
      </article>
    ))
  }
</div>
